<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/KnjizaraStil.css")
    @Styles.Render("~/Content/TabelaStil.css")
    @Styles.Render("~/Content/Sort.css")
    @Styles.Render("~/Content/Meni.css")
    @Styles.Render("~/Content/Greska.css")
    @Styles.Render("~/Content/Forma.css")
</head>
<body>
    @RenderBody()
</body>
</html>