<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/KnjizaraStil.css")
    @Styles.Render("~/Content/TabelaStil.css")
    @Styles.Render("~/Content/Sort.css")
    @Styles.Render("~/Content/Meni.css")
    @Styles.Render("~/Content/Greska.css")
    @Styles.Render("~/Content/Forma.css")
</head>
<body>
    <div class="navigacioniMeni">
        <a href="/Book/Create">Home</a>
        <a href="/Book/Index">All books</a>
        <a href="/Book/DeletedBook">Deleted books</a>
        <a href="/Genre/Create">Add genre</a>
        <a href="/Genre/Index">All genre</a>
        <a href="/Genre/DeleteGenre">Deleted genre</a>
        <a href="/Book/Search">Search by genre</a>
    </div>
    @RenderBody()
</body>
</html>