@using Knjizara.ViewModels
@using Knjizara.Models
@model ZanrKnjigaViewModels

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/KnjizaraLayout.cshtml";
}

<div class="unosForma">
    <h1><i>Add new book</i></h1>
    @using (Html.BeginForm("Create", "Book", FormMethod.Post, new { id = "f1", onsubmit = "return ValidateForm()" }))
    {
        <table align="center">
            <tr>
                <th>Name of book</th>
                <td>
                    @Html.EditorFor(m => m.Book.Name)
                    @Html.ValidationMessageFor(m => m.Book.Name)
                    <span class="validationerror" id="nameSpan"></span>

                </td>
            </tr>
            <tr>
                <th>Price of book</th>
                <td>
                    @Html.EditorFor(m => m.Book.Price)
                    @Html.ValidationMessageFor(m => m.Book.Price)
                    <span class="validationerror" id="priceSpan"></span>
                </td>
            </tr>
            <tr>
                <th>Genre of book</th>
                <td>
                    @Html.DropDownListFor(m => m.SelectedGenreId, new SelectList(Model.Zanrovi.Where(m=>m.Deleted==false), "Id", "Name"))
                </td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" name="Add" /></td>
            </tr>
        </table>                   
     }
</div>

<script src="~/Scripts/Validacija.js"></script>